<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="BitcoinVN BTM" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://btm.bitcoinvn.io" />
    <meta property="og:image" content="https://btm.bitcoinvn.io/images/big_pig/btm.jpg" />
    {% seo %}
    {% feed_meta %}
    <link rel="stylesheet" href=" {{ "/css/main.css" | relative_url }}">
    <link rel="icon" type="image/png" href="{{ "/images/bitcoinvn.png" | relative_url }}">
    <script src="{{ "/scripts/fontawesome.min.js" | relative_url }}" crossorigin="anonymous"></script>
</head>