<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="BitcoinVN BTM" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://bitcoinvn.io/btm" />
    <meta property="og:image" content="https://bitcoinvn.io/btm/images/big_pig/btm.jpg" />
    {% seo %}
    {% feed_meta %}
    <link rel="stylesheet" href="/btm/css/main.css">
    <link rel="icon" type="image/png" href="/btm/images/bitcoinvn.png">
    <script src="/btm/scripts/fontawesome.min.js" crossorigin="anonymous"></script>
</head>
