<!DOCTYPE html>

<html>

{% include head.html %}

<body>

<header>
    {% include navigation.html %}
</header>

<section class="main">
    <div class="page-header">
        <div class="h2">{% if page.category %}{{ page.category }}{% else %}{{ site.title }}{% endif %}</div>
        <h1>{{ page.title }}</h1>
    </div>
    <article class="content">
        {{ content }}
    </article>
</section>

<script>
    document.getElementById("open-nav").addEventListener("click", function () {
        document.body.classList.toggle("nav-open");
    });
</script>

</body>

</html>
